@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    div.col-sm-9 div {
        height: 250px;
        font-size: 28px;
    }
</style>

<body data-spy="scroll" data-target="#myScrollspy" data-offset="20">

    <div class="container">
        <div class="row">
            <div class="col-sm-4" id="myScrollspy">
                <ul class="nav-pills" style="list-style-type: none;">
                    <li class="active border rounded p-2"><a href="#section1" class="text-decoration-none">Do you offer a guarantee? Can I return my items?</a></li>
                    <li class="border rounded p-2"><a href="#section2" class="text-decoration-none">Do you ship to my country?</a></li>
                    <li class="border rounded p-2"><a href="#section3" class="text-decoration-none">How long does shipping take? When will I receive my order?</a></li>
                    <li class="border rounded p-2"><a href="#section4" class="text-decoration-none">Do you have a phone number I can contact?</a></li>
                    <li class="border rounded p-2"><a href="#section5" class="text-decoration-none">I received a package, but it wasn't my order</a></li>
                </ul>
            </div>
            <div class="col-sm-8">
                <div id="section1">
                    <h4>Do you offer a guarantee? Can I return my items?</h4>
                    <p>
                        Of course. We offer an extended 30 day guarantee!
                        If you aren’t 100% satisfied with your items, or received faulty goods, simply email our customer support team at  info@notebooktherapy.com. Please include the email address associated with the order and describe the issue, include photos if possible. We always aim to respond in 3 days or less!
                    </p>
                </div>
                <hr class="m-0 pt-2 mt-2">
                <div id="section2">
                    <h4>Do you ship to my country?</h4>
                    <p>
                        Yes. We proudly ship worldwide!
                        We’ve shipped cute stationery free to over 200+ countries and we love adding more to the list!
                        Plus you get free worldwide tracked shipping on all orders over $40
                        See the next question for detailed shipping times.
                    </p>
                </div>
                <hr class="m-0 pt-2 mt-2">
                <div id="section3">
                    <h4>How long does shipping take? When will I receive my order?</h4>
                    <p>
                        It all depends on where you are in the world!
                        Find your region and estimated delivery time.
                        Tracking numbers are sent by email after a short processing period.
                        It usually takes us 1-5 days to process orders. We aim to ship all items on-time, but in rare cases it can take longer. Any orders not received within 8 weeks qualify for a full-refund or reship.
                    </p>
                </div>
                <hr class="m-0 pt-2 mt-2">
                <div id="section4">
                    <h4>Do you have a phone number I can contact?</h4>
                    <p>
                        We currently don’t have a phone number for customer service inquiries, but we recommend taking a look around our Help Center to find answers to your questions/concerns.
                        If you can’t find what you’re looking for or need help regarding your order, our Customer Care team will be more than happy to assist you!
                    </p>
                </div>
                <hr class="m-0 pt-2 mt-2">
                <div id="section5">
                    <h4>I received a package, but it wasn't my order</h4>
                    <p>
                        We’re so sorry for the mix up with your order! Please email our Customer Care team by clicking  HERE with your order number and pictures of the following: the stamped initial/number on the outside of your envelope or box, the order packing slip with with the stamped initial visible, and a picture of the products you did receive. Please note that all order issues must be reported within 14 days of delivery.
                    </p>
                </div>
                <hr class="m-0 pt-2 mt-2">
            </div>
        </div>
    </div>

</body>






