@model IEnumerable<Cart>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">#</th>
        </tr>
    </thead>
    
    <tbody>
        @foreach(var item in Model){
            <tr>
                <td>@item.Book.Title</td>
                <td>@item.Price</td>
                <td>@item.Quantity</td>
            </tr>

        }

    </tbody>

    </table>
