@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="form-group">
  <a asp-controller="StoreOwner" asp-action="Index" class="btn btn-outline-danger">
    Back to Index
  </a>
</div>
