@model IEnumerable<Book>
<h1>Index of Todo</h1>


<div class="form-group">
    <a asp-controller="Todoes"
       asp-action="Create" class="btn btn-primary">Create new Todo</a>
</div>

<div class="form-group">
    <form>
        <input type="text" name="category" placeholder="Search by Category" />
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>


<table class="table">
    <thead>
    <th scope="col">ID</th>
    <th scope="col">Description</th>
    <th scope="col">Status</th>
    <th scope="col">Genre</th>
    <th scope="col">Action</th>
    <th scope="col"></th>
    </thead>
    <tbody>
      @foreach (var item in Model){
     <tr>
            <th scope="row">@item.BookId</th>
            <td>@item.Description</td>
            <td>@item.Status.ToString()</td>
            <td>@item.Genre.Description</td>
            <td><button class="btn btn-primary">Details</button>
            <button class="btn btn-danger">Delete</button>
            <button class="btn btn-danger">Edit</button></td>
     </tr>
     
       
    }
    </tbody>
</table>